name: Publish

on:
  push:
    tags: ["v[0-9]+.[0-9]+.[0-9]+**"]

jobs:

  publish:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4

    - uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'corretto'

    - uses: olegtarasov/get-tag@v2.1
      id: tagName
      with:
        tagRegex: "v(.*)"

    - name: Publish Maven
      uses: burrunan/gradle-cache-action@v1
      env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          SIGNING_SIGNING_KEY: ${{ secrets.SIGNING_SIGNING_KEY }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
      with:
        job-id: jdk8-build-test
        arguments: >-
          publishMavenPublicationToMavenLocal --max-workers 1 closeAndReleaseSonatypeStagingRepository
        properties: |
          releaseVersion=${{ steps.tagName.outputs.tag }}
